[submodule "308.1.1"]
	path = 308.1.1
	url = https://github.com/aidencullo/ALAB-308.1.1.git
[submodule "MyFirstRepo"]
	path = MyFirstRepo
	url = https://github.com/aidencullo/MyFirstRepo.git
[submodule "SBA-307"]
	path = SBA-307
	url = https://github.com/aidencullo/SBA-307.git
[submodule "ALAB-DOM-Manipulation-Part-Two"]
	path = ALAB-DOM-Manipulation-Part-Two
	url = https://github.com/aidencullo/ALAB-DOM-Manipulation-Part-Two.git
[submodule "ALAB-DOM-Manipulation-Part-One"]
	path = ALAB-DOM-Manipulation-Part-One
	url = https://github.com/aidencullo/ALAB-DOM-Manipulation-Part-One.git
[submodule "Regex-Form-Validation"]
	path = Regex-Form-Validation
	url = https://github.com/aidencullo/Regex-Form-Validation.git
[submodule "ALAB-308A.1.1"]
	path = ALAB-308A.1.1
	url = https://github.com/aidencullo/ALAB-308A.1.1.git
[submodule "ALAB-316.4.1"]
	path = ALAB-316.4.1
	url = https://github.com/aidencullo/ALAB-316.4.1.git
[submodule "GLAB-308A.2.1"]
	path = GLAB-308A.2.1
	url = https://github.com/aidencullo/GLAB-308A.2.1.git
[submodule "SBA316"]
	path = SBA316
	url = https://github.com/aidencullo/SBA316.git
[submodule "labs/ALAB-308A.3.1"]
	path = labs/ALAB-308A.3.1
	url = https://github.com/aidencullo/ALAB-308A.3.1.git
[submodule "class/9-3/Express-Basics"]
	path = class/9-3/Express-Basics
	url = https://github.com/aidencullo/Express-Basics.git
[submodule "class/9-3/Express-Route-Parameters"]
	path = class/9-3/Express-Route-Parameters
	url = https://github.com/aidencullo/Express-Route-Parameters.git
[submodule "class/9-3/Express-Middleware"]
	path = class/9-3/Express-Middleware
	url = https://github.com/aidencullo/Express-Middleware.git
[submodule "class/9-3/Express-Router-Organization"]
	path = class/9-3/Express-Router-Organization
	url = https://github.com/aidencullo/Express-Router-Organization.git
[submodule "class/9-3/Express-Creating-Template-Engines"]
	path = class/9-3/Express-Creating-Template-Engines
	url = https://github.com/aidencullo/Express-Creating-Template-Engines.git
[submodule "labs/ALAB-318.2.1"]
	path = labs/ALAB-318.2.1
	url = https://github.com/aidencullo/ALAB-318.2.1.git
[submodule "sbas/SBA-308A"]
	path = sbas/SBA-308A
	url = https://github.com/aidencullo/SBA-308A.git
[submodule "labs/GLAB-318.1.1"]
	path = labs/GLAB-318.1.1
	url = https://github.com/aidencullo/GLAB-318.1.1.git
[submodule "class/9-11/Aggregation-Stages--match-and--count"]
	path = class/9-11/Aggregation-Stages--match-and--count
	url = https://github.com/aidencullo/Aggregation-Stages--match-and--count.git
[submodule "class/9-10/MongoDB-Building-an-API"]
	path = class/9-10/MongoDB-Building-an-API
	url = https://github.com/aidencullo/MongoDB-Building-an-API.git
[submodule "class/9-11/MongoDB-Schema-Validation"]
	path = class/9-11/MongoDB-Schema-Validation
	url = https://github.com/aidencullo/MongoDB-Schema-Validation.git
[submodule "labs/ALAB-319.4.1"]
	path = labs/ALAB-319.4.1
	url = https://github.com/aidencullo/ALAB-319.4.1.git
[submodule "class/9-12/Mongoose"]
	path = class/9-12/Mongoose
	url = https://github.com/aidencullo/Mongoose.git
[submodule "class/9-17/Simple-Component-Demo"]
	path = class/9-17/Simple-Component-Demo
	url = https://github.com/aidencullo/Simple-Component-Demo.git
[submodule "class/9-17/Simple-React-Challenge-1"]
	path = class/9-17/Simple-React-Challenge-1
	url = https://github.com/aidencullo/Simple-React-Challenge-1.git
[submodule "class/9-17/Simple-React-Challenge-2"]
	path = class/9-17/Simple-React-Challenge-2
	url = https://github.com/aidencullo/Simple-React-Challenge-2.git
[submodule "class/9-17/Simple-React-Challenge-3"]
	path = class/9-17/Simple-React-Challenge-3
	url = https://github.com/aidencullo/Simple-React-Challenge-3.git
[submodule "labs/ALAB-320H.1.1"]
	path = labs/ALAB-320H.1.1
	url = https://github.com/aidencullo/ALAB-320H.1.1.git
