[submodule "308.1.1"]
	path = 308.1.1
	url = https://github.com/aidencullo/ALAB-308.1.1.git
[submodule "MyFirstRepo"]
	path = MyFirstRepo
	url = https://github.com/aidencullo/MyFirstRepo.git
[submodule "SBA-307"]
	path = SBA-307
	url = https://github.com/aidencullo/SBA-307.git
[submodule "ALAB-DOM-Manipulation-Part-Two"]
	path = ALAB-DOM-Manipulation-Part-Two
	url = https://github.com/aidencullo/ALAB-DOM-Manipulation-Part-Two.git
[submodule "ALAB-DOM-Manipulation-Part-One"]
	path = ALAB-DOM-Manipulation-Part-One
	url = https://github.com/aidencullo/ALAB-DOM-Manipulation-Part-One.git
