<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List</title>
</head>
<body>

  <h2>User List</h2>
  <ul>
    <% if (listings.length > 0) { %>
      <% listings.forEach(function(listing) { %>
        <li>
	  <a href="/listings/<%= listing._id %>">
            <strong><%= listing.name %></strong>
	  </a>
        </li>
      <% }); %>
    <% } else { %>
      <p>No users found.</p>
    <% } %>
  </ul>

</body>
</html>
